 .site-layout-content { 
  display: flex;
  align-items: column;
  justify-content: center;
  padding: 1em;
} 

.input-city {
  display: flex;
  align-items: column;
  justify-content: center;
}

.main-heading {
  display: flex;
  align-items: column;
  justify-content: center;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: xx-large;
  color: white;
  
}

section {
  padding-left: 3.5em;
  padding-right: 3.5em;
  border-style: outset;
  padding-bottom: 3em;
  padding-top: 2em;
  color:whitesmoke;
  background-color: rgb(2, 2, 71);
}

html {
  background-color: rgb(13, 19, 39);
  font-family: 'Nunito', sans-serif;
}