

body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}

section { 
    background-color:white;
   
}

.hero {
    background-color:#241c35;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}


li {
    /* width: 200px; */
    text-decoration: none;

}

h1 {
   font-size: 80px; 
   margin: 0; 
}

h2 {
    font-size: 50px;
}

p {
    margin: 0; 
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
margin-left: 80px;
margin-bottom: 200px;
}



.button {
    width: 160px;
    height: 40px;
    border-radius: 25px;
    background-color:rgb(197, 73, 193);
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 5px;
    margin-top: 10px;
    
}

.button:hover {
    background-color:violet;
}

.button:active {
    background-color: mediumslateblue;
    color:indigo;
}

.socials {
    padding-bottom: 200px;
    
}

.logo {
    height: 80px;
    margin: 30px;
    -webkit-filter: invert(100%);
    
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
display: flex;
flex-direction: column;
text-align: center;
padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
    margin-right: 30px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(185, 185, 185);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap; 
    } 
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 150px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: orchid;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none
}

.hamburger:focus {
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
      
    }

    /* ul {
        display: none;
        background-color: #3d3058;
        margin: 0px;
    } */

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #3d3058;
    }   

    .logo {
        display: none;
    }
}