.header {
  display: flex;
  justify-content: space-evenly;
  /* align-items: text-center */
}

.winner {
  display: flex;
  justify-content: center;
  /* align-items: text-center */
}

.button {
  display: flex;
  justify-content: space-evenly;
}

section {
  display: flex;
  justify-content: space-evenly;
  text-decoration-line: underline; 
}