@import '~antd/dist/antd.css';

.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}



/* Custom CSS */
.site-layout-content {
  /* margin-left: 15%; */
  /* min-height: 280px;
  padding: 24px;
  background: #fff; */
  text-align: center;
}

.input-city {
  width: 200px;
  margin: 10px;
}